.page {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background: #361f36;
}

.article {
  padding: 5%;
}

.article__title {
  margin-bottom: 1em;
  color: #fff;
  opacity: 0.8;
}

.article__paragraph {
  margin-bottom: 0.6em;
  line-height: 1.5;
  color: #fff;
  opacity: 0.6;
}
